.MainDiv {
    margin-top: 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    justify-self: center;
    padding: 0 10px; /* espaçamento nas bordas */
}

/* Media query para telas menores que 400px (ex: celulares pequenos) */
@media (max-width: 400px) {
    .MainDiv {
        max-width: 100%;
        margin-top: 10px;
        padding: 0 5px;
    }
}

/* Media query para telas maiores que 800px (ex: desktop) */
@media (min-width: 800px) {
    .MainDiv {
        max-width: 800px;
        margin-top: 40px;
    }
}

.editableHighlight {
  border: 2px solid #ffd900; /* borda amarela */
  border-radius: 8px;
  background-color: #fff8c4; /* fundo claro */
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* leve sombra para destaque */
  transition: all 0.2s ease-in-out; /* suaviza efeito */
}
